# Arquivos de cache do Python
__pycache__/

# Checkpoints do Jupyter Notebook
.ipynb_checkpoints/

# Banco de dados (opcional, mas recomendado)
# Ignoramos o banco de dados porque qualquer pessoa pode gerá-lo
# usando o script populate_db.py, mantendo o repositório leve.
gestao_projetos.db